<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="purple" >
          <h4 class="title">List of Customers</h4>
        </div>
        <div class="card-content">
          <div style="margin-left:10px; margin-bottom:10px" *ngIf="customValidation.isPermissionAvailable('CUSTOMER_PROFILE_EDIT')">
            <a class="md-button"  href="#/customerprofile?id=0" style="margin-right: 10px"
               class="btn btn-info pull-right">Add Customer</a>
          </div>
          <ag-grid-table-cmp ></ag-grid-table-cmp>
        </div>
      </div>

    </div>
  </div>
</div>
