<div class="main-content">
    <div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Job Status Configurations</h4>
				</div>
				<div class="card-content">
					<div style="margin-left:10px; margin-bottom:10px" *ngIf="customValidation.isPermissionAvailable('JOB_STATUS_EDIT')">
						<button md-button (click)="addNewJobStatus()" style="margin-right: 10px"
									class="btn btn-info pull-right">Add Job Status</button>
					</div>
					 <ag-grid-table-cmp ></ag-grid-table-cmp>

				</div>
			</div>

		</div>
	</div>
</div>
