<div class="main-content">
    <div class="myDialog">
        <h2 md-dialog-title>{{title}}</h2>
        <div md-dialog-content>
            <div>
                <form [formGroup]="unitForm"   novalidate>
                    <!-- we will place our fields here -->
                    <div  class="form-group">
                        <input  type="hidden" formControlName="id" name="id" class="form-control" >

                        <input  type="hidden" formControlName="itemLevelId" name="unitLevelId" class="form-control" >

                        <input  type="hidden" formControlName="itemLevelId" name="unitLevelId" class="form-control" >

                       
                        <label>Name</label>
                        <!--bind name to ngModel, it's required with minimum 5 characters-->
                        <input  type="text" formControlName="name" name="name" class="form-control" >
                        <!--show error only when field is not valid & it's dirty or form submited-->
                        
                        <small *ngIf="unitForm.controls.name.errors && (unitForm.controls.name.dirty || unitForm.controls.name.touched)">
                             <small [hidden]="!unitForm.controls.name.errors.required" class="text-danger">
                                 Name is required
                             </small>

                              <small [hidden]="!unitForm.controls.name.errors.unitAvailable" class="text-danger">
                                  duplicate unitLevel name
                             </small>
                        </small>
                    </div>
                    <!--adrress group-->
                    <div class="form-group">
                        <!--street-->
                        <div>
                            <label>Abbreviation</label>
                            <input type="text" formControlName="abbreviation" name="abbreviation" class="form-control" >
                             <small *ngIf="unitForm.controls.abbreviation.errors">
                                    <small [hidden]="!unitForm.controls.abbreviation.errors.abbreviationAvailable" class="text-danger">
                                       duplicate abbreviation
                                    </small>
                             </small>
                        </div>
                    </div>
                   
                    <button md-button [disabled]="!unitForm.valid" type="submit" (click)="dialogRef.close(unitForm.value)">{{actionButton}}</button>
                    <button md-button type="button" (click)="dialogRef.close(null)">Cancel</button>
                </form>
            </div>

        </div>
        <div md-dialog-actions>
           
        </div>
    </div>
<div class="main-content">