<div class="main-content">
  <div class="myDialog">
    <h2 md-dialog-title>{{title}}</h2>
    <div md-dialog-content>
      <div>
        <form [formGroup]="jobTypeForm"  novalidate>
          <!-- we will place our fields here -->
          <div  class="form-group">
            <input  type="hidden" formControlName="id" name="id" class="form-control" >
            <label>Name</label>
            <!--bind name to ngModel, it's required with minimum 5 characters-->
            <input  type="text" formControlName="name" name="name" class="form-control" >
            <!--show error only when field is not valid & it's dirty or form submited-->

            <small *ngIf="jobTypeForm.controls.name.errors && (jobTypeForm.controls.name.dirty || jobTypeForm.controls.name.touched)">
              <small [hidden]="!jobTypeForm.controls.name.errors.required" class="text-danger">
                Job Type Name is required
              </small>

              <small [hidden]="!jobTypeForm.controls.name.errors.exist" class="text-danger">
                Duplicate Job Type
              </small>
            </small>
          </div>

          <div class="form-group">
            <label>Category</label>
            <md-select   [(ngModel)]="category" formControlName="category" class="form-control">
              <md-option *ngFor="let cat of categoryList" [value]="cat.id">{{ cat.name }}</md-option>
            </md-select>
          </div>
          <div class="form-group">
            <label>Required Skills</label>
            <md-select multiple="true"  [(ngModel)]="requiredSkills" formControlName="requiredSkills" class="form-control">
              <md-option *ngFor="let skill of skills" [value]="skill.id">{{ skill.name }}</md-option>
            </md-select>
          </div>

          <div class="form-group">
            <label>Optional Skills</label>
            <md-select multiple="true"  [(ngModel)]="optionalSkills" formControlName="optionalSkills" class="form-control">
              <md-option *ngFor="let skill of skills" [value]="skill.id">{{ skill.name }}</md-option>
            </md-select>
          </div>

          <button md-button  type="submit" (click)="dialogRef.close(jobTypeForm.value)" >{{actionButton}}</button>
          <button md-button type="button" (click)="dialogRef.close(null)">Cancel</button>
        </form>
      </div>

    </div>
    <div md-dialog-actions>

    </div>
  </div>
</div>
