<div class="main-content job-status">

  <div class="row">
    <div class="col-md-4">
      <div class="card " style="margin-left: 4vh">

        <div class="card-content">
          <div class="job-info">
            <div class="card-footer job-status-header">
              <div class="stats">
                <b>Job Details</b>
              </div>
              <div class="stats pull-right">
                <span style="padding: 4px" class="onBreak locationJobStatusDiv">Completed</span>
              </div>
            </div>
            <div class="card-content">

              <div class="row text-center" style="margin-top: 4vh;margin-bottom: 6vh">
                <span style="font-size: 22px">Patient Transfer - Wheel Chair</span>
              </div>
              <div >
                <div class="row" style="padding: 2vh">
                  <div class="col-md-2">
                    <div class="icon" style="color: green">
                      <i class="material-icons">location_on</i>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <span>Emergency Department</span><br>
                    <span style="font-weight: 500;    font-size: 16px;">Ground Floor, Hospital Building</span>
                  </div>
                </div>
                <div class="row" style="padding: 2vh">
                  <div class="col-md-2">
                    <div class="icon" style="color: orangered">
                      <i class="material-icons">location_on</i>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <span>Operating Rooms</span><br>
                    <span style="font-weight: 500;    font-size: 16px;">9th Floor, Hospital Building</span>
                  </div>
                </div>
              </div>
              <div class="row text-center" style="padding: 2vh;margin-top: 4vh; margin-bottom: 3vh;">
                <span style="font-size: 19px;font-weight:  600;"> Total Duration - 10:12</span>
              </div>
            </div>

            <div class="card-footer job-status-requested">
              <div style="margin-top: 3vh; margin-bottom: 2vh;    width: 22vw;">
                <h5>Requested By</h5>
                <div class="author">
                  <a href="#pablo"> <img src="assets/img/faces/marc.jpg"
                                         alt="..." class="avatar img-raised"> <span>Kanchana
										Sumanasekara</span></a>
                </div>
                <div class="stats pull-right">
                  <i
                    class="material-icons">local_phone</i> 0771231233
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <ul class="timeline timeline-simple" style="margin-top: 20px;">
          <li class="timeline-inverted" style="margin-bottom: 0px">
            <div class="timeline-badge success">
              <i class="material-icons">card_travel</i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <span class="job-detail-timeline-text">Requested</span>
              </div>
              <h6>
                <i class="ti-time job-detail-timeline-text"></i> 12:55:03 PM
              </h6>
            </div>
          </li>
          <li class="timeline-inverted" style="margin-bottom: 0px">
            <div class="timeline-badge success">
              <i class="material-icons">thumb_up</i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <span class="job-detail-timeline-text">Accepted</span>
              </div>
              <h6>
                <i class="ti-time job-detail-timeline-text"></i> 12:56:58 PM
              </h6>
            </div>
          </li>
          <li class="timeline-inverted" style="margin-bottom: 0px">
            <div class="timeline-badge success">
              <i class="material-icons">directions_walk</i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <span class="job-detail-timeline-text">Arrived</span>
              </div>
              <h6>
                <i class="ti-time job-detail-timeline-text"></i> 12:59:58 PM
              </h6>
            </div>
          </li>
          <li class="timeline-inverted" style="margin-bottom: 0px">
            <div class="timeline-badge success">
              <i class="material-icons">done</i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <span class="job-detail-timeline-text">Job Completed</span>
              </div>
              <h6>
                <i class="ti-time job-detail-timeline-text"></i> 13:06:10 PM
              </h6>
            </div>
          </li>
          <li class="timeline-inverted" style="margin-bottom: 0px">
            <div class="timeline-badge " style="background-color: orange">

            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <span class="job-detail-timeline-text">Cleaning</span>
              </div>
              <h6 style="color: orange">
                <i class="ti-time job-detail-timeline-text" style="color: orange"></i> Ongoing
              </h6>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-3"></div>



    </div>
    <div class="col-md-4">
      <!--<div class="card card-profile">
        <div class="card-avatar">
          <a href="#pablo"> <img class="img"
                                 src="assets/img/faces/marc.jpg">
          </a>
        </div>
        <div class="card-content">
          <h6 class="category text-gray">Airi Satou</h6>
          <h4 class="card-title">
            Level 1 Interpreter - <span class="label label-success">Available</span>
          </h4>

          <div class="row">
            <div class="col-md-12">
              <div class="nav-center">
                <ul class="nav nav-pills nav-pills-primary nav-pills-icons"
                    role="tablist">
                  <li class="active"><a href="#info" role="tab"
                                        data-toggle="tab" aria-expanded="true"> <i
                    class="material-icons">info</i> General
                  </a></li>
                  <li class=""><a href="#workTimeLine" role="tab"
                                  data-toggle="tab" aria-expanded="false"> <i
                    class="material-icons">timeline</i> Work Timeline
                  </a></li>
                </ul>
              </div>
              <div class="tab-content">
                <div class="tab-pane active" id="info">

                  <div class="nav-pills-content">

                    <div class="content-set">
                      <div class="icon">
                        <i class="material-icons">location_on</i>
                      </div>
                      <div class="value">
                        Emergency Department
                        <small class="details">Current
                          location
                        </small>
                      </div>
                    </div>
                    <div class="content-set">
                      <div class="icon">
                        <i class="material-icons">event_available</i>
                      </div>
                      <div class="value">
                        12:30:23
                        <small class="details">Available from</small>
                      </div>
                    </div>

                    <div class="content-set">
                      <div class="icon">
                        <i class="material-icons">local_phone</i>
                      </div>
                      <div class="value">0716345345</div>
                    </div>
                    <div class="content-set">
                      <div class="icon">
                        <i class="material-icons">school</i>
                      </div>
                      <div class="value">Japanese , English , Spanish</div>
                    </div>

                  </div>
                </div>
                <div class="tab-pane" id="workTimeLine">
                  <div class="nav-pills-content">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="content-set">
                          <div class="icon">
                            <i class="material-icons">alarm</i>
                          </div>
                          <div class="value">08:00:00</div>
                          <div class="details">Works start at</div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="content-set">
                          <div class="icon">
                            <i class="material-icons">alarm_off</i>
                          </div>
                          <div class="value">05:00:00</div>
                          <div class="details">Works end at</div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
          <a href="#pablo" class="btn btn-primary btn-round">Change
            Assignee</a>
        </div>
      </div>-->
      <div class="card " style="margin-left: -4vh">

        <div class="card-content">
          <div class="job-info">
            <div class="card-footer job-status-header">
              <div class="stats">
                <b>Employee Details</b>
              </div>
              <div class="stats pull-right">
                <span style="padding: 4px" class="cleaning locationJobStatusDiv">Cleaning</span>
              </div>
            </div>
            <div class="card-content">

              <div class="row text-center" style="margin-top: 4vh;margin-bottom: 4vh">
                <div class="card-avatar" style="margin-left: 2vw">
                  <div class="col-md-3">
                    <a href="#pablo"> <img class="img" style="border-radius: 50%; width: 10vh;"
                                           src="assets/img/faces/marc.jpg">
                    </a>
                  </div>
                  <div class="col-md-9">
                    <span style="margin-left: 2vh;margin-top: 2vh;float: left;font-size: 20px">Asok Viriluseai</span><br>
                    <span style="margin-left: 2vh;float: left">Senior Porter - Group A </span>
                  </div>


                </div>
              </div>
              <div style="margin-bottom: 4vh;margin-top: 5vh">
                <div class="row text-center" style="padding: 1vh">
                  <span style="font-size: 18px; font-weight: 600;">Handle Time Breakdown</span>
                </div>
                <div class="row" >
                  <div>
                    <div class="col-md-2"></div>
                    <div class="col-md-7">
                      <span style="font-weight: 500;">On Route</span>
                    </div>
                    <div class="col-md-3">
                      <span style="font-weight: 500;">3:00</span>
                    </div>
                  </div>
                  <div>
                    <div class="col-md-2"></div>
                    <div class="col-md-7">
                      <span style="font-weight: 500;">Transport Time</span>
                    </div>
                    <div class="col-md-3">
                      <span style="font-weight: 500;">6:12</span>
                    </div>
                  </div>
                  <div>
                    <div class="col-md-2"></div>
                    <div class="col-md-7">
                      <span style="font-weight: 500;">Cleaning Time</span>
                    </div>
                    <div class="col-md-3">
                      <span style="font-weight: 500;">1:00</span>
                    </div>
                  </div>
                  <div>
                    <div class="col-md-2"></div>
                    <div class="col-md-7">
                      <span style="font-weight: 600; font-size: 17px; color: darkgrey">Total Handling Time</span>
                    </div>
                    <div class="col-md-3">
                      <span style="font-weight: 600; font-size: 17px; color: darkgrey">10:12</span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row text-center" style="padding: 2vh;margin-top: 1vh; margin-bottom: 1vh;">
                <span style="font-size: 19px;font-weight:  600;"> Point Rewarded</span><br>
                <i style="color: orange;" class="material-icons">star_border</i>
                <i style="color: orange;" class="material-icons">star_border</i>
                <i style="color: orange;" class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>


              </div>
            </div>

            <div class="card-footer job-status-requested">
              <div class="author" style="margin-top: 3vh;margin-bottom: 1vh;">
                <div class="col-md-1" style="background-color: orange;width: auto; height: 3vh;border-radius: 5px;"> </div>
                <div class="col-md-11" style="width: auto">
                  <span style="font-size: 11px;font-weight: 600;margin-left: -1vh;">9th Floor, Equipment Bay</span>
                </div>
              </div>
              <div class="stats pull-right" style="margin-top: 2vh">
                <i class="material-icons">timeline</i><br>
                <span style="font-size: 11px;font-weight: 600;">Work Timeline</span>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>


  </div>

</div>
